@model TravelPlanner.Models.AccommodationReviewViewModel
@{
    ViewBag.Title = "Review Accommodation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Review Accommodation</h2>
<h3>@Model.AccommodationName</h3>

<form action="@Url.Action("LeaveReview", "ReviewAccommodation")" method="post">
    @Html.HiddenFor(model => model.AccommodationId)
    @Html.HiddenFor(model => model.AccommodationName)

    <div class="form-group">
        @Html.LabelFor(model => model.Rating)
        @Html.TextBoxFor(model => model.Rating, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comment)
        @Html.TextBoxFor(model => model.Comment, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit Review</button>
</form>

