@model TravelPlanner.Models.BookAccommodationViewModel

@{
    ViewData["Title"] = "Book Accommodation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book Accommodation</h2>

<h3>@Model.AccommodationName</h3>
<p>@Model.AccommodationDescription</p>
<p>@Model.AccommodationType</p>
<p>@Model.Price</p>

<form action="@Url.Action("BookAccommodation", "Bookings")" method="post">
    @Html.HiddenFor(model => model.AccommodationId)
    @Html.HiddenFor(model => model.AccommodationName)
    @Html.HiddenFor(model => model.AccommodationDescription)
    @Html.HiddenFor(model => model.AccommodationType)
    @Html.HiddenFor(model => model.Price)

    <label for="checkInDate">Select Check-In Date:</label>
    <input type="date" id="checkInDate" name="CheckInDate">
    <label for="checkOutDate">Select Check-Out Date:</label>
    <input type="date" id="checkOutDate" name="CheckOutDate">
    <br>

    <img src="~/Images/random-photo.jpg" alt="Random Photo">
    <br>

    <button type="submit" onclick="redirectToConfirmation()">Book</button>
</form>

<script>
    function redirectToConfirmation() {
        document.getElementById("bookForm").submit();
        var bookingId = @Model.BookingId;
        window.location.href = '@Url.Action("Confirmation", "Bookings")' + '?bookingId=' + bookingId;
    }
</script>
