@model IEnumerable<TravelPlanner.Models.Activities>


<!DOCTYPE html>
<html>
<head>
    <title>TravelPlanner - Home</title>
    <link rel="stylesheet" type="text/css" href="~/AccommodationActivity.css">
</head>
<body>
    <header class="header" style="display: flex; justify-content: space-between;">
        <div class="buttons">
            <button class="btn" onclick="window.location='@Url.Action("SignIn", "User")'">Log In</button>
            <button class="btn" onclick="window.location='@Url.Action("SignedUp", "User")'">Sign Up</button>
            <button class="btn" onclick="window.location='/Accommodation/AccommodationView'">Accommodations</button>
            <button class="btn" onclick="window.location='/Activities/ActivityView'">Activities</button>
        </div>
    </header>
</body>
<br />
<br />


@using (Html.BeginForm("SearchActivity", "Activities", FormMethod.Get))
{
    <div class="form-group">
        @Html.Label("Search Activities:")
        @Html.TextBox("searchActivity", null, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Display reviews", "DisplayReviewActivity", "ReviewActivity", new { activityId = item.ActivityId }, null)
                    @Html.ActionLink("Leave Review", "ReviewActivityView", "ReviewActivity", new { id = item.ActivityId }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

